<a href="https://colab.research.google.com/github/puriabhishek788-collab/Gen-AI/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python are case sensitive,variable names such as my_sub, MY_SUB are different
my_sub = "Machine learning"
MY_SUB = "Deep learning"
my_sub

'Machine learning'

In [ ]:
#keyword -- reserved word in python is known as keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# data type
#numeric
#integer--absence of decimal point is known as integer
#ex -- 1,2,3,4
x = 1
type(x) # type() is function that return type of data

int

In [ ]:
#floating point number --presence of decimal
#ex -- 3.14, 7.14
y = 3.14
type(y)

float

In [ ]:
#boolean--it is used to store values in the form of true and false
a = True
type(a)

bool

In [ ]:
b = False
type(b)

bool

In [ ]:
#None--it is define null value means nothing
e = None
type(e)

NoneType

In [ ]:
my_sub = "Machine learning"
print(my_sub)

Machine learning

In [ ]:
type(my_sub)

str

In [ ]:
my_college = 'shoolini university'
type(my_college)

str

In [ ]:
my_sentence = '''This is multiple line
sentence, so this also a string'''
type(my_sentence)

str

In [ ]:
my_sub = "machine learning"
len(my_sub)

16

In [ ]:
my_sub[0]

'm'

In [ ]:
my_sub[-15]

'a'

In [ ]:
my_sub[-1]

'g'

In [ ]:
#sorted() --this function arrange list in increasing order or decreasing order
my_list = [89,67,45,12,34]
sorted(my_list, reverse = True)

[89, 67, 45, 34, 12]

In [ ]:
my_list

[89, 67, 45, 12, 34]

In [ ]:
#append()--this method add item end of the list, item take as argument
list1 = [9,8,7,4]
list1.append(100)
list1

[9, 8, 7, 4, 100]

In [ ]:
#extend()--this method merge list into another list
list1 = [9,8,7,4]
list2 = [100,200,300]
list1.extend(list2)
list1

[9, 8, 7, 4, 100, 200, 300]

In [ ]:
#pop()--this method remove item from the list,and take index as a argument
my_list = [90,87,56,34,100]
my_list.pop(2)

56

In [ ]:
my_list

[90, 87, 34, 100]

In [ ]:
#reverse()--this method reverse a list
my_list = [90,87,56,52]
my_list.reverse()

In [ ]:
my_list

[52, 56, 87, 90]

In [ ]:
my_dict = {"Name":"Amit","College":"Shoolini University"}
type(my_dict)

dict

In [ ]:
my_dict = {"Name":"Amit", "College":"Shoolini"}
print(my_dict["Name"])
print(my_dict["College"])

Amit
Shoolini

In [ ]:
#keys()--this method find number of values in dictionary
list(my_dict.keys())

['Name', 'College']

In [ ]:
#values()--this method find number of values in dictionary
list(my_dict.values())

['Amit', 'Shoolini']

In [ ]:
#items()--this method find items in dictionary
list(my_dict.items())

[('Name', 'Amit'), ('College', 'Shoolini')]

In [ ]:
#get()--this method find value and key take as argument
my_dict.get("Name")

'Amit'

In [ ]:
print(my_dict.get("Age","Age is not found"))

Age is not found

In [ ]:
#update()--this method update the dictionary and take dictionary as argument
my_dict.update({"Age":20})
my_dict

{'Name': 'Amit', 'College': 'Shoolini', 'Age': 20}

In [ ]:
my_dict.update({"Name":"Abhishek"})
my_dict

{'Name': 'Abhishek', 'College': 'Shoolini', 'Age': 20}

In [ ]:
#zip()--this function take pair of list as argument and return python object
state_list = ["HP","UP","MP"]
city_list = ["SHM","LUCK","BHOPAL"]
dict(zip(state_list, city_list))

{'HP': 'SHM', 'UP': 'LUCK', 'MP': 'BHOPAL'}

In [ ]:
list(zip(state_list, city_list))

[('HP', 'SHM'), ('UP', 'LUCK'), ('MP', 'BHOPAL')]

In [ ]:
#conditional statement
#if--this execute when condition is true
#elif--this execute when condition is true
#else--this execute when if and elif condition false
age = int(input("Enter your age"))
if age>60:
  print("you are too old for marry")
elif age<18:
  print("you are too young for marry")
else:
  print("we will find perfect match for you")

Enter your age11
you are too young for marry

In [ ]:
my_sub = "python"
for i in my_sub:
  print(i)

p
y
t
h
o
n

In [ ]:
for i in range(0,6,1):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
my_list = [90,78,65,45]
for i in my_list:
  print(i)

90
78
65
45

In [ ]:
#while loop
i = 0 # initialization
while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [ ]:
i = 0
while i<5:
  i+=1
  if i == 3:
    break
  else:
    print(i)

1
2

In [ ]:
i = 0
while i<5:
  i+=1
  if i==3:
    continue
    print(i)
  else:
      print(i)

1
2
4
5

In [ ]:
i = 0
while i<5:
  i+=1
  if i==3:
    pass
    print(i)
  else:
      print(i)

1
2
3
4
5

In [ ]:
#user defined function without argument
def add():
  a = int (input("Enter first number: "))
  b = int (input("Enter second number: "))
  return a+b

In [ ]:
print(add())

Enter first number: 11
Enter second number: 42
53

In [ ]:
#positional argument
def Calculation(a, b):
  print("Addition: ", a+b)
  print("Subtraction: ", a-b)
  print("Multiplication: ", a*b)
  print("Division: ", a/b)
  return "Calculation is complete"

In [ ]:
print(Calculation(10, 5))

In [ ]:
#default argument
def area_perimeter(width=4,height=8):
  area = width*height
  perimeter = 2*(width+height)
  return "Area of rectangle is", area, "and perimeter is",perimeter

In [ ]:
print(area_perimeter(10))

In [ ]:
#keyword argument
def interest(p, r, t):
  i = (p*r*t)/100
  return i

In [ ]:
print(interest(r = 10, t=2, p=1000))

In [ ]:
import numpy as np

In [ ]:
#one dimensional array
oned_array = np.array([1,2,3])
print(oned_array)

In [ ]:
#two dimensional array
twod_array = np.array([[1,2,3],[4,5,6]])
print(twod_array)

In [ ]:
row_vector = np.array([[1,2,3]])
print(row_vector)

In [ ]:
print(row_vector.transpose())

In [ ]:
#ndim -- find the dimension
print(row_vector.ndim)

In [ ]:
#size ---find the number of item
print(row_vector.size)

In [ ]:
print(twod_array)

In [ ]:
#shape--find number of row and column in two dimensional array

In [ ]:
import numpy as np
ones_array = np.ones((3,3))
print(ones_array)

In [ ]:
import numpy as np
ones_array = np.ones((3,3),dtype=int)
print(ones_array)

In [ ]:
import numpy as np
mat1 = np.matrix("1,2,3;4,5,6;7,8,9")
print(mat1)

In [ ]:
import numpy as np
mat2 = np.random.randint(1,10,(3,3))
print(mat2)

In [ ]:
import numpy as np
mat3 = np.random.random((3,3))
print(mat3)

In [ ]:
import numpy as np
my_array = np.array([1,2,3])
print(my_array)

In [ ]:
power_array = np.power(my_array,2)
print(power_array)

In [ ]:
log_array = np.log(my_array)
print(log_array)

In [ ]:
log_array = np.log2(my_array)
print(log_array)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
xpoint = np.array([1,3])
ypoint = np.array([2,4])
plt.plot(xpoint,ypoint)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
cgpa = np.array([6,7,8,9,10])
package = np.array([4,5,6,7,9])
plt.plot(cgpa,package)
plt.xlabel("CGPA")
plt.ylabel("package in LPA")
plt.title("Shoolini university students data")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
cgpa = np.array([6,7,8,9,10])
package = np.array([4,5,6,7,9])
plt.plot(cgpa,package,"*:g",ms=15,mec="Red",mfc="Orange")
plt.xlabel("CGPA")
plt.ylabel("package in LPA")
plt.title("Shoolini university students data")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
cgpa = np.array([6,7,8,9,10])
package = np.array([4,5,6,7,9])
plt.plot(cgpa,package,"*:g",ms=15,mec="Red",mfc="Orange",linewidth=5)
plt.xlabel("CGPA")
plt.ylabel("package in LPA")
plt.title("Shoolini university students data")
plt.show()

In [ ]:
#bar plot--it work on numerical as well as categorial data
import matplotlib.pyplot as plt
import numpy as np
fruit = np.array(["Apple","Banana","Orange","Watermelon"])
quantity = np.array([100,120,80,70])
color = np.array(["red","yellow","orange","green"])
plt.bar(fruit,quantity,color = color)
plt.xlabel("Fruit")
plt.ylabel("Quantity of fruit")
plt.title("Fruit vs fruit quantity")
plt.show()

In [ ]:
fruit = np.array(["Apple","Banana","Orange","Watermelon"])
quantity = np.array([100,120,80,70])
color = np.array(["red","yellow","orange","green"])
plt.barh(fruit,quantity,color = color)
plt.xlabel("Fruit")
plt.ylabel("Quantity of fruit")
plt.title("Fruit vs fruit quantity")
plt.show()

In [ ]:
#pie plot
percentage_of_fruit = np.array([20,25,30,25])
fruit = np.array(["Apple","Banana","Orange","Watermelon"])
myexplode = np.array([0.2,0,0,0])
plt.pie(percentage_of_fruit,labels = fruit,explode = myexplode)
plt.legend(title = "Fruit",loc = "best")
plt.show()

In [ ]:
age_of_car = np.array([4,5,6,7,8,9,10,12,14])
speed_of_car = np.array([150,140,120,110,100,90,80,70,60])
plt.scatter(age_of_car,speed_of_car)
plt.xlabel("Age of car")
plt.ylabel("Speed of car")
plt.title("Age of car vs speed of car")
plt.show()

In [ ]:
#histogram--it shows the frequency distribution of the data
x = np.random.randint(40, 100, (1,200))
x = x.flatten()
print(x)

In [ ]:
plt.hist(x, bins = 20)
plt.xlabel("Marks")
plt.ylabel("Frequency")
plt.title("Marks vs Frequency")
plt.show()

In [ ]:
import pandas as pd

In [ ]:
my_series = pd.Series(["Apple","Banana","Orange","Watermelon"],name = "Fruit")
my_series

In [ ]:
df = pd.DataFrame([["Apple",100],["Banana",120],["Orange",80],["Watermelon",50]],columns = ["Fruit","Quantity"])
df